/* colors */
$color-green: #CAE7B9;
$color-yellow: #F3DE8A;
$color-red: #EB9486;
$color-blue: #A9BCD0;
$color-cool-gray: #7E7F9A;

$color-alert_green: #6ED058;
$color-alert_orange: #F8AD16;
$color-alert_red: #F53B2E;
$color-alert_blue: #5594C3;
$color-alert_violet: #6660A9;

$colors: (
  "color-green": $color-green,
  "color-yellow": $color-yellow,
  "color-red": $color-red,
  "color-blue": $color-blue,
  "color-cool-gray": $color-cool-gray,

  "color-alert_green": $color-alert_green,
  "color-alert_orange": $color-alert_orange,
  "color-alert_red": $color-alert_red,
  "color-alert_blue": $color-alert_blue,
  "color-alert_violet": $color-alert_violet
);

@each $color, $i in $colors {
  .text-#{$color} {
    color: $i;
  }
  .bg-#{$color} {
    background-color: $i;
  }
}

/* typography */
$font-primary: 'Roboto', sans-serif;
$font-seconday: 'Oswald', sans-serif;

$font-medium: 1rem;

$size-vars: (
  "xx-small" :    .50,
  "x-small"  :    .70,  // 11px
  'x-big'    :    1.8,  // 29px
  "xx-big"   :    2.5,  // 32px
  "huge"     :    3.75  // 60px
);

/* grid 

$grid: 8;
$gap: 8px;
$grid-margin: $gap; */