/* colors */
$color-green: #CAE7B9;
$color-yellow: #F3DE8A;
$color-red: #EB9486;
$color-blue: #A9BCD0;
$color-cool-gray: #7E7F9A;

$color-alert_green: #6ED058;
$color-alert_orange: #F8AD16;
$color-alert_red: #F53B2E;
$color-alert_blue: #5594C3;
$color-alert_violet: #6660A9;

/* typography */
$font-primary: 'Roboto', sans-serif;
$font-seconday: 'Oswald', sans-serif;

$font-medium: 1rem;